<div class="container">
  <div class="item">
    <div>This project belongs to my personal</div>
    <a target="_blank" href="https://nikollsabalu.netlify.app/"> P O R T F O L I O
    </a>
  </div>

  <div class="copyright item">
    &#169; {{date | date:'y'}} - Developed by Nikoll Sabalú
  </div>

  <div class="item">
    <div>S O C I A L</div>
    <a target="_blank" href="https://github.com/nikollsabalu">
      <img src="assets/github.svg">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/nikollsabalu/">
      <img src="assets/linkedin.svg">
    </a>
  </div>
</div>
